/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-lora: 'Lora', serif;
$font-roboto: 'Roboto', sans-serif;

html {
    scroll-behavior: smooth;
}  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $font-lora;
}
p, a, li, button, span, label {
    font-family: $font-roboto;
}
a {
    text-decoration: none;
}
ul, p {
    margin: 0;
}
li {
    list-style-type: none;
}

//Header
#secHeader {
    background-color: #29465B;
    color: #FFFFFF;
    padding: 1rem 0;
    img {
        height: 77px;
        width: auto;
    }
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        li {
            padding: 16px 20px;
            a {
                color: #FFFFFF;
                letter-spacing: 0.75px;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    
}

//Home
#conteudo-topo {
    > div {
        background-color: #F0EDE5;
    }
    .col-12 {
        padding: 40px 0;
    }
    img {
        height: 424px;
        width: 100%;
        object-fit: cover;
    }
    h1 {
        color: #29465B;
        letter-spacing: 1px;
        font-size: 52px;
        font-weight: 700;
    }
    p {
        font-size: 20px;
        letter-spacing: 0.3px;
        line-height: 1.5;
        font-weight: 500;
    }
    //responsividade
    @media (max-width: 992px) {
        .col-12 {
            text-align: center;
        }
    }
    @media (max-width: 576px) {
        > div {
            flex-direction: column-reverse;
            .col-12 {
                text-align: center;
            }
        }
    }
}

//Quem Somos
#quem-somos {
    margin-top: 3.5rem;
    > div > div > div {
        > div {
            &:first-child {
                h2 {
                    color: #29465B;
                    font-size: 48px;
                    font-weight: 600;
                    letter-spacing: 0.75px;
                }
                p {
                    font-size: 18px;
                    letter-spacing: 0.25px;
                    line-height: 1.5;
                    font-weight: 500;
                }
            }
            &:last-child {
                img {
                    height: 424px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }
        }
    }
    @media (max-width: 992px) {
        > div > div > div {
            gap: 16px;
        }
    }
    @media (max-width: 768px) {
        > div > div > div > div  {
            &:first-child {
                h2 {
                    text-align: center;
                }
                p {
                    text-align: justify;
                }
            }
        }
    }
    @media (max-width: 576px) {
        > div > div > div {
            flex-direction: column-reverse;
            gap: 16px;
        }
    }
}

//Nossos Números
#nossos-numeros {
    margin-top: 3.5rem;
    > div > div > div > div {
        background-color: #F0EDE5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 34px 24px 36px 24px;
        h2 {
            color: #29465B;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 24px;
        }
        .nossos-numeros-post {
            background-color: #FFFFFF;
            border-radius: 8px;
            &:nth-child(even) {
                margin: 0 24px;
            }
            > div {
                padding: 48px 0;
                h3 {
                    font-size: 62px;
                    font-weight: 300;
                    color: #29465B;
                }
                p {
                    font-size: 14px;
                    letter-spacing: 0.25px;
                    font-weight: 500;
                }
            }
        }
    }
    //responsividade
    @media (max-width: 992px) {
        > div > div > div > div > div {
            &:last-child {
                gap: 1.5rem;
                > .col-4 {
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: 576px) {
        > div > div > div > div > div {
            &:last-child {
                flex-direction: column;
            }
        }
    }
}

//Nossas Áreas
#nossas-areas {
    margin-top: 3.5rem;
    > div > div {
        &:first-child {
            > div {
                margin-bottom: 1rem;
            }
        }
    }
    .slick-prev {
        left: -45px !important;
        background-image: url('../img/left-arrow-areas.svg');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;

        &:before {
            display: none;
        }
    }
    .slick-next {
        right: -45px !important;
        background-image: url('../img/right-arrow-areas.svg');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;

        &:before {
            display: none;
        }
    }
    .slick-dots {
        bottom: -30px !important;
    }
    .slick-dots li button:before {
        font-size: 16px !important;
    }
    .slick-dots li.slick-active button:before {
        color: #29465B !important;
    }
    @media (max-width: 768px) {
        .nossas-areas-slider .slider-item {
            padding: 0;
        }
    }
}
.nossas-areas-slider {
    .slider-item {
        position: relative;
        overflow: hidden;
        padding: 0 15px; // Half of the space between slides

        img {
            width: 100%;
            height: 290px;
            object-fit: cover; // Ensures the image covers the area with the specified height
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;

            h3 {
                margin: 0;
                font-size: 1.5rem;
            }

            .content {
                padding: 10px;
                text-align: center;
            }
        }

        &:hover .overlay {
            opacity: 1;
        }
    }

    // Adjust for the extra padding
    .slick-list {
        margin: 0 -15px;
    }
}



//Contato
#nossos-contatos {
    margin-top: 3.5rem;
    > div > div > div > div {
        &:first-child {
            img {
                width: 100%;
            }
        }
    }
    form {
        display: inline-block;
        label {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.035px;
        }
        p {
            textarea {
                resize: none;
            }
            &:nth-child(6) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            }
        }
    }
    .wpcf7-form-control {
        border-radius: 8px;
        border: 2px solid #f0ede5;
        padding: 10px;
        width: 35vw;
        margin-top: 0.5rem;
      }
      
    .wpcf7-submit {
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #f0ede5;
    color: #000;
    font-family: $font-roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.175px;
    }
    #wpcf7-f8-o1 > form > p:nth-child(6) > span {
        display: none;
    }
    @media (min-width: 1800px) {
        .wpcf7-form-control:not(.wpcf7-submit) {
            width: 590px;
            max-width: 100%;
        }
    }
    @media (max-width: 1200px) {
        > div > div > div {
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }
    @media (max-width: 992px) {
        .wpcf7-form-control:not(.wpcf7-submit) {
            width: 67vw;
        }
    }
    @media (max-width: 576px) {
        > div > div > div > div {
            &:first-child {
                img {
                    display: none;
                }
            }
        }
    }
}

//Footer
#footer {
    padding: 1.5rem 0 1rem 0;
    background-color: #29465B;
    a, p, span {
        color: #FFFFFF;
    }
    .infos-footer {
        p {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.25px;
            line-height: 1.5;

            &:nth-child(2) {
                margin: 0.75rem 0;
            }
        }
    }
    .logoFooter {
        height: 77px;
        width: auto;   
    }
    .text-copyright {
        padding-top: 1rem;
        border-top: 2px solid #FFFFFF;
        p, span {
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.25px;
            line-height: 1.5;
        }
    }
    @media (max-width: 992px) {
        .footerContent {
            flex-direction: column-reverse;
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .text-copyright {
            flex-direction: column;
            gap: 10px;
            > div:last-child, p {
                text-align: center;
            }
        }
    }
}

@media (min-width: 2001px) {
    .wpcf7-form-control {
        width: 25vw;
    }
}
@media (min-width: 1800px) and (max-width: 2000px) {
    .wpcf7-form-control {
        width: 27vw;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .wpcf7-form-control {
        width: 30vw;
    }
}
@media (max-width: 600px) {
    .wpcf7-form-control {
        width: 76vw;
    }
}
@mixin nossos-numeros-estilos {
    #nossos-numeros>div>div>div>div .nossos-numeros-post>div {
      h3 {
        font-size: 48px;
      }
      p {
        font-size: 12px;
      }
    }
    #nossos-numeros>div>div>div>div h2 {
      font-size: 24px;
    }
  }
  
  @media (max-width: 425px) {
    @include nossos-numeros-estilos;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    @include nossos-numeros-estilos;

    #nossos-contatos .wpcf7-form-control:not(.wpcf7-submit) {
        width: 650px;
    }
  }